<div>
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor, <span highlight>sit amet consectetur adipisicing elit.</span> Ipsa illo quae aperiam debitis eum natus fugiat veritatis tempore modi dolor at ipsum adipisci dolorem ab reiciendis, dolores tenetur. Rerum, eius?</p>
    <p class="text-xs">Numero de Clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/></p>
    <div>
        <app-waveaudio audioUrl="assets/audio.mp3" />
    </div>
</div>