<div class="flex space-x-4 mt-5">
    <div class="w-80">
        <ul>
            <li>
                <a routerLink="/">All</a>
            </li>
            @for(category of categories(); track category; let i  = $index) {
                <li>
                    <a routerLink="/" [queryParams]="{ category_id: category.id }">{{ category.name }}</a>
                </li>
            }
        </ul>
    </div>
    <div class="grid grid-cols-4 gap-8 w-full">
        @if (products().length > 0) {
            @for(product of products(); track products; let i = $index) {
                <app-product 
                    [product]="product"
                    (addToCart)="addToCart($event)"
                />
            }
        }
    </div>
</div>