<div>
    <div #wave></div>
    <button (click)="playPause()">
        @if (!isPlaying()) {
            <span>Play</span>
        } @else {
            <span>Pause</span>
        }
    </button>
</div>